.montrealTour {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 2rem;
}

.section {
    width: calc(50% - 10px);
    margin-top: 20px;
    box-sizing: border-box;
    padding: 0 1rem;
}

.h1Montreal {
    color: #7c0808;
    font-size: 60px;
    margin: auto;
}

.titre {
    color: #7c0808;
    font-size: 60px;
    margin: auto;
}

.imgHead {
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    justify-content: space-between;
    max-width: 100%;
}

.image {
    object-fit: cover;
    display: flex;
    margin: 20px auto;
    align-items: center;
    max-width: 100%;
    height: auto;
}

.img {
    flex: 0 0 calc(48% - 10px);
    margin-bottom: 20px;
    height: 300px;
    transition: transform 0.3s;
}

.img:hover {
    transform: scale(1.2);
}

.p {
    font-size: 24px;
    line-height: 1.5;
    color: #666;
    padding: 0 1rem;
}

.pp {
    font-size: 24px;
    line-height: 1.5;
    color: #666;
}

.imgMontreal {
    flex: 0 0 calc(48% - 10px);
    margin-bottom: 20px;
    height: 300px;
    transition: transform 0.3s;
}

.imgMontreal:hover {
    transform: scale(1.6);
}

.lien {
    font-size: 36px;
    color: blue;
    margin: 1rem;
    padding: 2rem;
}

/* les petits ecrans*/

@media screen and (max-width: 1300px) {
    .MontrealTour {
        flex-direction: column;
        margin: 0 auto;
    }

    .section {
        width: 100%;
        padding: 0.5rem;
    }

    .imgHead {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .img {
        flex: 0 0 48%;
        margin-bottom: 20px;
    }

    .imgMontreal {
        flex: 0 0 48%;
        margin-bottom: 20px;
    }

}