.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 5rem;
  height: auto;
}

.ville {
  width: 300px;
  height: 200px;
  position: relative;
}

.titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.header h1 {
  font-size: 2.5rem;
  padding: 1rem;
  text-align: center;
}

.header {
  background-color: rgb(197, 250, 250);
}

.header:hover {
  background-color: lightblue;
}

.container {
  overflow: hidden;
}

.scrollContainer {
  display: flex;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}



/* Pour les petits écrans */
@media screen and (max-width: 1200px) {
  .logo {
    width: 3rem;
  }

  .ville {
    width: 150px;
    height: 100px;
  }
}

 @media screen and (max-width: 600px) {
  .header h1 {
    font-size: 1.5rem;
  }
}