.nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav Link {
  cursor: pointer;
  font-size: 24px;
  color: black;
  text-decoration: none;
}

.lien {
  color: blue;
  font-size: 20px;
  text-decoration: none; /* Pour supprimer le soulignement par défaut */
}

.lien:hover {
  text-decoration: underline; /* Souligner le lien au survol */
}

.lien:active,
.lien:focus {
  color: rgb(255, 0, 140); /* Couleur normale pendant le clic */
}


@media screen and (max-width: 1200px) {
  .nav Link {
    font-size: 10px;
  }
}

/* Pour les petits écrans */
@media screen and (max-width: 600px) {
  .nav Link {
    font-size: 8px;
  }

  .nav ul {
    flex-direction: column;
    align-items: flex-start;
  }
}