.ottawaTour {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 2rem;
}

.section {
  width: calc(50% - 10px);
  margin-top: 20px;
  box-sizing: border-box;
  padding: 0 1rem;
}


.titre {
  color: #7c0808;
  font-size: 60px;
  margin: auto;
}

.imgHead {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  justify-content: space-between;
  max-width: 100%;
}

.image {
  display: flex;
  margin: 20px auto;
  align-items: center;
  max-width: 100%;
  height: auto;
}

.img {
  flex: 0 0 calc(48% - 10px);
  margin-bottom: 20px;
  height: 300px;
  transition: transform 0.3s;
}

.img:hover {
  transform: scale(1.6);
}

.p {
  font-size: 24px;
  line-height: 1.5;
  color: #666;
  padding: 0 1rem;
}

.pp {
  font-size: 24px;
  line-height: 1.5;
  color: #666;
}


/*les petit ecrans */

@media screen and (max-width: 1200px) {
  .ottawaTour {
    flex-direction: column;
  }

  .section {
    width: 100%;
    padding: 0.5rem;
  }

  .imgHead {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .img {
    flex: 0 0 48%;
    margin-bottom: 20px;
  }
}